<a href="https://colab.research.google.com/github/kmoreno7/deep-learning-challenge/blob/main/Start_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
#import pandas as pd 
#application_df = pd.read_csv("./Resources/charity_data.csv")
#application_df.head()

In [2]:
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
# Dataset is now stored in a Pandas Dataframe

In [4]:
#Turn csv into a pandas dataframe
file = "charity_data.csv"

In [5]:
application_df = pd.read_csv(file)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_app_df = application_df.drop(columns=['EIN','NAME'])
new_app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
# Determine the number of unique values in each column.
count = new_app_df[['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','STATUS','INCOME_AMT','SPECIAL_CONSIDERATIONS','ASK_AMT','IS_SUCCESSFUL']].nunique()
count

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
count = new_app_df['APPLICATION_TYPE'].value_counts()
count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(count[count<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# Take out IS_SUCCESSFUL
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 137333

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 137,460
Trainable params: 137,460
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5240 - accuracy: 0.7447 - val_loss: 0.4517 - val_accuracy: 0.7927
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.2408 - accuracy: 0.8962 - val_loss: 0.5364 - val_accuracy: 0.8005
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1414 - accuracy: 0.9414 - val_loss: 0.6272 - val_accuracy: 0.7992
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1162 - accuracy: 0.9493 - val_loss: 0.6347 - val_accuracy: 0.7955
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1079 - accuracy: 0.9514 - val_loss: 0.5659 - val_accuracy: 0.7992
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1040 - accuracy: 0.9539 - val_loss: 0.6851 - val_accuracy: 0.7992
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1028 - accuracy: 0.9542 - val_loss: 0.6306 - val_accuracy: 0.7961
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.1011 - accuracy: 0.9545 - val_loss: 0.7057 - val_accuracy: 0.8002
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0998 - accuracy: 0.9553 - val_loss: 0.5228 - val_accuracy: 0.8018
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0995 - accuracy: 0.9557 - val_loss: 0.6251 - val_accuracy: 0.6033
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0982 - accuracy: 0.9560 - val_loss: 0.5419 - val_accuracy: 0.7012
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0965 - accuracy: 0.9562 - val_loss: 0.4885 - val_accuracy: 0.7523
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0960 - accuracy: 0.9564 - val_loss: 0.5555 - val_accuracy: 0.6903
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0954 - accuracy: 0.9572 - val_loss: 0.6513 - val_accuracy: 0.5786
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0952 - accuracy: 0.9576 - val_loss: 0.7575 - val_accuracy: 0.5862
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0944 - accuracy: 0.9579 - val_loss: 0.7594 - val_accuracy: 0.5815
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0942 - accuracy: 0.9579 - val_loss: 0.9278 - val_accuracy: 0.5802
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0937 - accuracy: 0.9571 - val_loss: 0.8627 - val_accuracy: 0.5838
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0935 - accuracy: 0.9579 - val_loss: 1.2117 - val_accuracy: 0.5820
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0935 - accuracy: 0.9582 - val_loss: 1.1811 - val_accuracy: 0.5812
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0933 - accuracy: 0.9582 - val_loss: 1.8110 - val_accuracy: 0.5812
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0920 - accuracy: 0.9592 - val_loss: 1.8959 - val_accuracy: 0.5823
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0905 - accuracy: 0.9610 - val_loss: 3.0538 - val_accuracy: 0.5825
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0896 - accuracy: 0.9613 - val_loss: 3.6453 - val_accuracy: 0.5828
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0895 - accuracy: 0.9616 - val_loss: 3.9613 - val_accuracy: 0.5836
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0895 - accuracy: 0.9618 - val_loss: 3.8803 - val_accuracy: 0.5831
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0888 - accuracy: 0.9623 - val_loss: 3.9513 - val_accuracy: 0.5802
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0882 - accuracy: 0.9625 - val_loss: 4.4668 - val_accuracy: 0.5825
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0880 - accuracy: 0.9622 - val_loss: 4.6162 - val_accuracy: 0.5812
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0880 - accuracy: 0.9626 - val_loss: 5.1990 - val_accuracy: 0.5825
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0877 - accuracy: 0.9628 - val_loss: 5.9483 - val_accuracy: 0.5815
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0868 - accuracy: 0.9630 - val_loss: 6.7904 - val_accuracy: 0.5820
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0866 - accuracy: 0.9634 - val_loss: 7.3243 - val_accuracy: 0.5820
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0866 - accuracy: 0.9631 - val_loss: 7.4603 - val_accuracy: 0.5823
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0866 - accuracy: 0.9638 - val_loss: 7.7168 - val_accuracy: 0.5818
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0860 - accuracy: 0.9640 - val_loss: 7.5770 - val_accuracy: 0.5812
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0858 - accuracy: 0.9640 - val_loss: 7.7124 - val_accuracy: 0.5818
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0849 - accuracy: 0.9641 - val_loss: 8.7059 - val_accuracy: 0.5815
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0853 - accuracy: 0.9638 - val_loss: 8.7106 - val_accuracy: 0.5815
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0853 - accuracy: 0.9642 - val_loss: 8.2962 - val_accuracy: 0.5807
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0846 - accuracy: 0.9643 - val_loss: 8.2620 - val_accuracy: 0.5807
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0843 - accuracy: 0.9646 - val_loss: 8.2171 - val_accuracy: 0.5815
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0845 - accuracy: 0.9645 - val_loss: 8.0417 - val_accuracy: 0.5799
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0841 - accuracy: 0.9649 - val_loss: 8.0785 - val_accuracy: 0.5823
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0839 - accuracy: 0.9652 - val_loss: 8.0642 - val_accuracy: 0.5812
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0838 - accuracy: 0.9651 - val_loss: 8.0544 - val_accuracy: 0.5823
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0840 - accuracy: 0.9648 - val_loss: 8.0166 - val_accuracy: 0.5820
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0836 - accuracy: 0.9649 - val_loss: 8.4318 - val_accuracy: 0.5792
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0839 - accuracy: 0.9651 - val_loss: 7.4659 - val_accuracy: 0.5812
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0836 - accuracy: 0.9650 - val_loss: 7.7341 - val_accuracy: 0.5818
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0831 - accuracy: 0.9652 - val_loss: 7.7952 - val_accuracy: 0.5812
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0830 - accuracy: 0.9652 - val_loss: 6.9991 - val_accuracy: 0.5818
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0830 - accuracy: 0.9652 - val_loss: 6.5420 - val_accuracy: 0.5802
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0826 - accuracy: 0.9652 - val_loss: 6.7585 - val_accuracy: 0.5825
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0828 - accuracy: 0.9651 - val_loss: 7.2527 - val_accuracy: 0.5805
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0828 - accuracy: 0.9656 - val_loss: 7.0961 - val_accuracy: 0.5815
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0824 - accuracy: 0.9655 - val_loss: 7.0696 - val_accuracy: 0.5831
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0825 - accuracy: 0.9657 - val_loss: 6.7578 - val_accuracy: 0.5833
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0825 - accuracy: 0.9655 - val_loss: 7.4917 - val_accuracy: 0.5812
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0821 - accuracy: 0.9651 - val_loss: 6.6326 - val_accuracy: 0.5828
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0825 - accuracy: 0.9655 - val_loss: 6.9906 - val_accuracy: 0.5823
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0820 - accuracy: 0.9652 - val_loss: 6.9930 - val_accuracy: 0.5810
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0821 - accuracy: 0.9655 - val_loss: 6.9875 - val_accuracy: 0.5815
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0820 - accuracy: 0.9655 - val_loss: 6.6713 - val_accuracy: 0.5810
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0820 - accuracy: 0.9651 - val_loss: 6.7718 - val_accuracy: 0.5807
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0817 - accuracy: 0.9659 - val_loss: 6.4582 - val_accuracy: 0.5815
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0816 - accuracy: 0.9657 - val_loss: 6.2435 - val_accuracy: 0.5818
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0813 - accuracy: 0.9659 - val_loss: 6.2129 - val_accuracy: 0.5807
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0815 - accuracy: 0.9657 - val_loss: 6.2825 - val_accuracy: 0.5799
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0812 - accuracy: 0.9651 - val_loss: 6.4140 - val_accuracy: 0.5825
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0813 - accuracy: 0.9660 - val_loss: 6.2610 - val_accuracy: 0.5818
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0811 - accuracy: 0.9657 - val_loss: 5.9381 - val_accuracy: 0.5802
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0813 - accuracy: 0.9661 - val_loss: 5.7145 - val_accuracy: 0.5802
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0807 - accuracy: 0.9660 - val_loss: 6.1088 - val_accuracy: 0.5799
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0809 - accuracy: 0.9661 - val_loss: 5.7592 - val_accuracy: 0.5828
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0809 - accuracy: 0.9660 - val_loss: 6.2225 - val_accuracy: 0.5820
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0809 - accuracy: 0.9655 - val_loss: 6.3170 - val_accuracy: 0.5820
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0806 - accuracy: 0.9662 - val_loss: 5.7263 - val_accuracy: 0.5810
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0809 - accuracy: 0.9663 - val_loss: 5.5462 - val_accuracy: 0.5802
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0805 - accuracy: 0.9666 - val_loss: 6.0450 - val_accuracy: 0.5815
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0805 - accuracy: 0.9666 - val_loss: 5.7863 - val_accuracy: 0.5805
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0803 - accuracy: 0.9664 - val_loss: 5.5393 - val_accuracy: 0.5815
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0805 - accuracy: 0.9664 - val_loss: 5.4414 - val_accuracy: 0.5810
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0805 - accuracy: 0.9657 - val_loss: 5.4653 - val_accuracy: 0.5820
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0802 - accuracy: 0.9664 - val_loss: 5.3274 - val_accuracy: 0.5818
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0802 - accuracy: 0.9664 - val_loss: 5.4428 - val_accuracy: 0.5812
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0800 - accuracy: 0.9666 - val_loss: 5.6213 - val_accuracy: 0.5784
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0799 - accuracy: 0.9662 - val_loss: 5.1721 - val_accuracy: 0.5820
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0806 - accuracy: 0.9660 - val_loss: 5.4789 - val_accuracy: 0.5818
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0797 - accuracy: 0.9662 - val_loss: 5.3919 - val_accuracy: 0.5771
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0796 - accuracy: 0.9665 - val_loss: 5.1864 - val_accuracy: 0.5820
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0799 - accuracy: 0.9660 - val_loss: 5.4406 - val_accuracy: 0.5828
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0799 - accuracy: 0.9658 - val_loss: 5.2598 - val_accuracy: 0.5812
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0794 - accuracy: 0.9665 - val_loss: 5.8125 - val_accuracy: 0.5828
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0793 - accuracy: 0.9665 - val_loss: 5.6258 - val_accuracy: 0.5836
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0796 - accuracy: 0.9665 - val_loss: 5.3562 - val_accuracy: 0.5825
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0793 - accuracy: 0.9669 - val_loss: 6.0027 - val_accuracy: 0.5815
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0789 - accuracy: 0.9665 - val_loss: 6.1108 - val_accuracy: 0.5833
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0791 - accuracy: 0.9668 - val_loss: 5.4011 - val_accuracy: 0.5825
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0794 - accuracy: 0.9663 - val_loss: 6.1068 - val_accuracy: 0.5815

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.1949 - accuracy: 0.6014 - 339ms/epoch - 1ms/step
Loss: 1.1949056386947632, Accuracy: 0.6013994216918945

In [20]:
# Export model to HDF5 File

from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')